* {
    padding: 0;
    margin: 0;
    background-color: #000;
}
.container {
    width: 100%;
    height: 100vh;
}
.parent {
    width: 80%;
    height: 80%;
    margin: auto;
    justify-content: center;
}
.small {
    display: flex;
    margin: auto;
    padding-top: 8%;
    gap: 1px;
    width: 100%;
    height: 100%;
}
.cards {
    width: 100%;
    height: 90%;
    position: relative;
    overflow: hidden;
}
/* Hover for the Overlay */
.cards:hover img{
    filter: blur(4px) brightness(40%) contrast(100%);
    transform: scale(1.1);
}
/* second hover for the know more */
.cards:hover .anotherP::after {
    content: "know more \2192";
    display: inline-block;
    font-size: 1rem;
}
.cards:hover .absolute {
    top: 70%;
}
.cards:hover .anotherAbsolute {
    top: 85%;
}

.cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.absolute {
    background-color: transparent;
    position: absolute;
    color: white;
    top: 75%;
    left: 35px;
    font-family: "Barlow", sans-serif;
    font-size: 30px;
    letter-spacing: -1px;
    font-weight: 600;
    transition: top 0.3s ease;
}
.anotherAbsolute {
    background-color: transparent;
    position: absolute;
    color: #A6A5A4;
    top: 90%;
    left: 35px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    transition: top 0.3s ease;
}
.anotherP {
    background-color: transparent;
    position: absolute;
    color: skyblue;
    top: 90%;
    left: 35px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    transition: top 0.3s ease;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .small {
        padding-top: 30%;
    }
    .cards {
        flex: 1 1 100%;
        max-width: 100%;  
        height: 90%;
    }
    .absolute {
        display: none;
    }
    .anotherAbsolute {
        display: none;
    }
    .anotherP {
        display: none;
    }
}